body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5rem;
    font-family: Helvetica, sans-serif;
}

nav {
    float: left;
    display: block;
    text-align: right;
    padding: 10rem 10rem;
}


ul {
    
        list-style-type: none;
        margin: 0;
        padding: 0;
 }

li {
    list-style-type: none;
    display: inline;
}

.welcome__header {
    text-align: center;
}

.welcome__paragraph {
 /*   margin-left: 10%;
    margin-right: 10%; */
    display:block;
}


    .section {
        display: flex;
        max-width: 40%;
        align-content: center;
        justify-content: center;
        margin: auto;
        text-align: center;
    }
    
    .portfolio__title {
        text-align: center;
        margin-bottom: 0;
        margin-top: 4rem;
        
    }
    
    .portfolio__section {
        margin-top: -1rem;
        display: grid;
        grid-template-columns: 30% 30%;
        grid-template-rows: 30% 30%;
        justify-content: space-evenly;
        align-content: space-around;
        height: 100%;
    }
    
    .portfolio__projects {
        background-color: white;
        border: 1px solid gray;
        padding: 5rem 0rem;
        text-align: center;
    }
    
    .portfolio__heading {
        display: flex;
        align-content: space-around;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

